# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
env/
.venv/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db


# Docker
Dockerfile
docker-compose.yml
